#prof-pic
{
	margin-bottom: 5em;
	margin-top: -3em;
	height: 30em;
	width: 30em;

}

#flag
{
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.contact
{
	font-size: 0.7em;
	font-weight: bold;
}

.carousel-head
{
	color: red;
	position: absolute;
	text-align: left;
	left: -1em;
	font-size: 5em;
	
	
}

.car-head2
{
	color: yellow;
}

.carousel-caption
{
	top: 1em;
	bottom: 1em;
	right: 0em;
	left: 0em;
	position : absolute;
}

.car-btn
{
	position: absolute;
	bottom: 0em;
	right: 0em;
}

#aristotle
{
	margin-right: auto;
	margin-left: auto;
	height: 50%;
	width: 90%%;
}

#bb
{
	top: -25%;                         
   	transform: translate(0, 25%)
} 

#picmodal
{
	margin-left: 4em;
}

#skills
{
	margin-top: 5%;
}

.navbar-custom 
{
	background-color: #000000;
}

.footer-above-custom 
{
	background-color: #0A0A0A;
	padding-top: 50px;
	
}

.footer-below-custom 
{
	background-color: #000000;
	padding: 25px 0;
}

.text-custom
{
	color: #CCCCCC;
}

.background-custom
{
	background-color: #313131;
}

hr.star-dark:after {
    color: #CCCCCC;
    background-color: #1A1A1A;
}

p
{
	color: #CCCCCC;
}

.web-custom
{
	color: #0A0A0A;
}

footer a:hover > .web-custom
{
	color: #00804C;
}

.portfolio-modal p
{
	color: black;
}

.hr-custom
{
	border:1px solid #1A1A1A;
}

.main
{
	font-weight: bold;
	color: #0099FF;
}