#prof-pic
{
	height: 25em;
	width: 25em;
}

#flag
{
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.contact
{
	font-size: 0.7em;
	font-weight: bold;
}

.carousel-head
{
	color: red;
	position: absolute;
	text-align: left;
	left: -1em;
	font-size: 5em;
	
	
}

.car-head2
{
	color: yellow;
}

.carousel-caption
{
	top: 1em;
	bottom: 1em;
	right: 0em;
	left: 0em;
	position : absolute;
}

.car-btn
{
	position: absolute;
	bottom: 0em;
	right: 0em;
}

#aristotle
{
	margin-right: auto;
	margin-left: auto;
	height: 50%;
	width: 90%%;
}

#bb
{
	top: -25%;                         
   	transform: translate(0, 25%)
} 
